<div class="row headline">
    <div class="col-xs-12">
	<h2>Challenge Overview</h2>
    </div>
</div>

<% if cookies[:current_quest] then @activeQuest = Quest.find(cookies[:current_quest_id]) end %>

<% if cookies[:current_quest] then %>

<div class="row center">
    <div class="col-xs-12">
	<h3>Now go out and do the challenge!</h3>
	<p>Then come back, click finish and discuss your experience.</p>
    </div>
</div>

<div class="row big_button active_quest" onclick="window.location.href='/quests/<%= @activeQuest.id %>'">	
    <div class="col-xs-4">
	<%= link_to(image_tag(@activeQuest.imgurl.blank? ? "/assets/default.svg" : @activeQuest.imgurl, :alt => @activeQuest.name), @activeQuest) %>
    </div>
    <div class="col-xs-8">
	<h3><%= link_to @activeQuest.name, @activeQuest %></h3>
	<p><%= truncate(sanitize(@activeQuest.description, :tags=>[]), :length => 150, :separator => ' ')  %></p>
	<p><%= link_to "finish & comment", @activeQuest, :class => "floatr" %></p>
    </div>
</div>

<% else %>

<div class="row center">
    <div class="col-xs-12">
	<h3>Pick your next challenge</h3>
	<p>We will randomly present you with new ones to try.</p>
    </div>
</div>

<% @t = Time.now.to_i - Time.now.to_i%120 %>

<% @quests.shuffle(random: Random.new(@t))[1..3].each do |quest| %>
	<% if !(cookies[quest.id] == "done") then %>
		<div class="row big_button" onclick="window.location.href='/quests/<%= quest.id %>'">	
		    <div class="col-xs-4">
			<%= link_to(image_tag(quest.imgurl.blank? ? "/assets/default.svg" : quest.imgurl, :alt => quest.name), quest) %>
		    </div>
		    <div class="col-xs-8">
			<h3><%= link_to quest.name, quest %></h3>
			<p><%= truncate(sanitize(quest.description, :tags=>[]), :length => 150, :separator => ' ')  %></p>
			<p><%= link_to "more", @activeQuest, :class => "floatr" %></p>
		    </div>
		</div>
       <% end %>
    <% end %>

<% end %>


<% if cookies[:done] then %>
<div class="row center">
    <div class="col-xs-12">
	<h3>Your completed challenges</h3>
	<p>Well done! These are the challenges you already experienced.</p>
    </div>
</div>
<% end %>
    
<% @quests.each do |quest| %>
	<% if (cookies[quest.id] == "done") then %>
		<div class="row big_button done_quest" onclick="window.location.href='/quests/<%= quest.id %>'">	
		    <div class="col-xs-4">
			<%= link_to(image_tag(quest.imgurl.blank? ? "/assets/default.svg" : quest.imgurl, :alt => quest.name), quest) %>
		    </div>
		    <div class="col-xs-8">
			<h3><%= link_to quest.name, quest %></h3>
			<p><%= truncate(sanitize(quest.description, :tags=>[]), :length => 150, :separator => ' ')  %></p>
			<p><%= link_to "discuss", @activeQuest, :class => "floatr" %></p>
		    </div>
		</div>
       <% end %>
    <% end %>
    
<% if cookies[:visited] then %>
<div class="row center">
    <div class="col-xs-12">
	<h3>Recent challenges</h3>
	<p>You've recently looked at these challenges.</p>
    </div>
</div>
    
<% @quests.each do |quest| %>
	<% if (cookies[quest.name]="visited") then %>
		<div class="row big_button visited_quest" onclick="window.location.href='/quests/<%= quest.id %>'">	
		    <div class="col-xs-4">
			<%= link_to(image_tag(quest.imgurl.blank? ? "/assets/default.svg" : quest.imgurl, :alt => quest.name), quest) %>
		    </div>
		    <div class="col-xs-8">
			<h3><%= link_to quest.name, quest %></h3>
			<p><%= truncate(sanitize(quest.description, :tags=>[]), :length => 150, :separator => ' ')  %></p>
			<p><%= link_to "discuss", @activeQuest, :class => "floatr" %></p>
		    </div>
		</div>
       <% end %>
    <% end %>
<% end %>
    
    
    
    
<div class="row center">
    <div class="col-xs-12">
	<p><a href ="http://globalgamejam.org/2014/games/someone-elses-shoes">Created by Barbara, Sebi & Alex for Global Game Jam 2014</a></p>
	<p><%= link_to "What is this about?", "/static_pages/intro1.html" %></p>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h2>All quests (Admin only):</h2>
<%= link_to 'New Quest', new_quest_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Imgurl</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @quests.each do |quest| %>
      <tr>
        <td><%= quest.name %></td>
        <td><%= truncate(quest.description, :length => 35, :separator => ' ')  %></td>
        <td><%= quest.imgurl %></td>
        <td><%= link_to 'Show', quest %></td>
        <td><%= link_to 'Edit', edit_quest_path(quest) %></td>
        <td><%= link_to 'Destroy', quest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    
  </tbody>  
</table>
