<div class="row headline">
    <div class="col-xs-12">
	<h2>In someone else's shoes - Global Game Jam 2014</h2>
    </div>
</div>

<% if cookies[:current_quest] then @activeQuest = Quest.find(cookies[:current_quest_id]) end %>

<% if cookies[:current_quest] then %>

<div class="row center">
    <div class="col-xs-12">
	<h3>Active</h3>
    </div>
</div>

<div class="row big_button active_quest" onclick="window.location.href='/quests/<%= @activeQuest.id %>'">	
    <div class="col-xs-4">
	<%= link_to(image_tag(@activeQuest.imgurl, :alt => @activeQuest.name), @activeQuest) %>
    </div>
    <div class="col-xs-8">
	<h3><%= link_to @activeQuest.name, @activeQuest %></h3>
	<p><%= truncate(@activeQuest.description, :length => 200, :separator => ' ')  %></p>
    </div>
</div>

<% else %>

<div class="row center">
    <div class="col-xs-12">
	<h3>Chose</h3>
    </div>
</div>

<% @t = Time.now.to_i - Time.now.to_i%120 %>

<% @quests.shuffle(random: Random.new(@t))[1..3].each do |quest| %>
	<% if !(cookies[quest.id] == "done") then %>
		<div class="row big_button" onclick="window.location.href='/quests/<%= @quest.id %>'">	
		    <div class="col-xs-4">
			<%= link_to(image_tag(quest.imgurl, :alt => quest.name), quest) %>
		    </div>
		    <div class="col-xs-8">
			<h3><%= link_to quest.name, quest %></h3>
			<p><%= truncate(quest.description, :length => 200, :separator => ' ')  %></p>
		    </div>
		</div>
       <% end %>
    <% end %>

<% end %>

<div class="row center">
    <div class="col-xs-12">
	<h3>Done</h3>
    </div>
</div>
    
<% @quests.each do |quest| %>
	<% if (cookies[quest.id] == "done") then %>
		<div class="row big_button done_quest" onclick="window.location.href='/quests/<%= @quest.id %>'">	
		    <div class="col-xs-4">
			<%= link_to(image_tag(quest.imgurl, :alt => quest.name), quest) %>
		    </div>
		    <div class="col-xs-8">
			<h3><%= link_to quest.name, quest %></h3>
			<p><%= truncate(quest.description, :length => 200, :separator => ' ')  %></p>
		    </div>
		</div>
       <% end %>
    <% end %>
    
<div class="row center">
    <div class="col-xs-12">
	credits | impressum | disclaimer
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h2>All quests (Admin only):</h2>
<%= link_to 'New Quest', new_quest_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Imgurl</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @quests.each do |quest| %>
      <tr>
        <td><%= quest.name %></td>
        <td><%= truncate(quest.description, :length => 35, :separator => ' ')  %></td>
        <td><%= quest.imgurl %></td>
        <td><%= link_to 'Show', quest %></td>
        <td><%= link_to 'Edit', edit_quest_path(quest) %></td>
        <td><%= link_to 'Destroy', quest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    
  </tbody>  
</table>
