<!DOCTYPE html>
<html>
<head>
    <title>In Someone Else's Shoes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag '/assets/favicon.ico' %>
<meta property="og:image" content="/assets/img.png" />
<meta property="og:description" content="A game created for Global Game Jam 2014. Go out and experience live in someone else's shoes - then come back and discuss your experience with us." />
</head>
<body>
 <div class="container root">
<%= yield %>
</div>
</body>
</html>
